*{
    margin: 0;
    padding: 0;
}

.background {
	background:url("willian-justen-de-vasconcellos-603962-unsplash.JPG");
	background-size: cover;
	height: 100%;
	width: 100%;

}

.hobby {
	background-color:grey;
	color: white;
	padding: 10px;
}
body {
	background-color: white;
	animation-direction: normal;
}
h1 {
	color: black;
	text-align: Center;
	font-family: advent-pro; 
}
p {
	font-size: 17px;
	font-family: allerta;
	text-align: Center;
	color: black;
}

.p2nd {
    font-size:16px;
    text-align:left;
}